{#  -*- coding: utf-8 -*- #}
{% macro content() %}
<div class="col-md-3">
{{ most_recent }}
<p class="text-center">
    <a href="/sostieni">
        <img src="/images/sostieni_ils.png" loading="lazy" alt="Sostieni Italian Linux Society" class="img-fluid">
    </a>
</p>
</div>
{% endmacro %}

{% macro post_content(posts) %}
<div class="col-12 col-md-3">
{{ most_recent }}
<p class="text-center">
    <a href="/sostieni">
        <img src="/images/sostieni_ils.png" loading="lazy" alt="Sostieni Italian Linux Society" class="img-fluid">
    </a>
</p>
</div>
{% endmacro %}
