---
layout: page
title: Linux 1%
description: Dona una parte del tuo fatturato al software libero
---

<p><strong>Linux 1%</strong> Il sostegno economico ai progetti opensource di uso quotidiano, e alle iniziative ad essi correlate, non è solo un gesto morale ma un modo per garantire che la tua attività possa continuare a crescere in futuro.</p>
<a href="https://www.linux.it/unopercento/" target="_blank">Scopri di più</a>

<hr>

<p>Questa attività può essere promossa all'interno della propria azienda, nei propri contatti o all'interno del proprio coworking.</p>
