---
layout: page
title: OpenStreetMap
description: Come contribuire a OpenStreetMap
---

<h3><a href="#account">Come fare un account su OpenStreetMap</a></h3>
<h3><a href="#colonnina">Come aggiungere una colonnina di ricarica elettrica</a></h3>
<h3><a href="#commerciale">Come aggiungere una attività commerciale su OpenStreetMap (se non si ha il tempo)</a></h3>
<h3><a href="#mobile">Come aggiungere punti di interesse da mobile</a></h3>
<h3><a href="#guida">Come aggiornare il wiki</a></h3>

<p><a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap (OSM)</a> è un progetto simile a Wikipedia, per le mappe. I volontari registrano informazioni sul territorio con i propri dispositivi GPS, oppure da immagini satellitari autorizzate oppure, conoscendo bene un territorio perché magari ci vivono e poi caricano le informazioni, attribuendo ad esse dei tag. Queste informazioni possono essere caricate nel database centrale di OpenStreetMap da dove possono essere ulteriormente modificate, corrette e arricchite da chiunque sia a conoscenza di informazioni mancanti o errori in quella determinata area.</p>

<hr>

<h2 id="account">Come fare un account su OpenStreetMap:</h2>

<p>Un account su OpenStreetMap è consigliato per vari motivi</p>
<ul>
    <li>Accedere e contribuire da app come StreetComplete (<a target="_blank" href="https://f-droid.org/packages/de.westnordost.streetcomplete/">F-Droid</a>, <a target="_blank" href="https://play.google.com/store/apps/details?id=de.westnordost.streetcomplete">Google Play</a>) oppure per completare i dati dei punti di interesse nelle mappe con interfacce semplificate (es: <a href="https://mapcomplete.osm.be/" target="_blank">MapComplete.osm</a>)</li>
    <li>Tracciare i tuoi contributi (e vantarti con gli amici)</li>
    <li>Dare autorità al contributo rispetto a un anonimo così da essere approvato anche in modo più rapido</li>
</ul>

<p>Cliccando su <i>Registrati</i> (in alto a destra) sul sito <a target="_blank" href="http://www.openstreetmap.org/">openstreetmap.org</a>. Potrai inserire il tuo nickname oltre al tuo indirizzo email e la password, confermando riceverai un email con un link da cliccare per attivarlo.</p>
<p>Ti troverai su una schermata come questa, in cui potrai navigare la mappa:<br>
<img src="https://learnosm.org/images/beginner/osm-website-main-functions_it.png" />
</p>

<p>Per una guida più approfondità <a target="_blank" href="https://learnosm.org/it/beginner/start-osm/">clicca qui</a>.</p>


<hr>

<h2 id="colonnina">Come aggiungere una colonnina di ricarica elettrica</h2>

<p>Con un account puoi utilizzare il browser per aggiungere un POI (point of interest o PDI punto di interesse). Devi impostare la tua città e vedere la zona nella mappa (puoi aiutarti con la visualizzazioen satellitare), a quel punto clicca sul pulsante <i>Modifica</i> e seleziona come da foto:<br>
<img src="https://learnosm.org/images/beginner/click-edit_it.png" />
</p>

<p>Il passo successivo è cliccare il punto della mappa e creare il PDI come da video che ti illustra il tipo di PoI che vuoi aggiungere. In questo caso <i>Charging Station</i> e inserire i dati suggeriti.<br>

<iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" src="https://video.linux.it/videos/embed/47fdf2cb-8e09-49a5-bad1-2cd992975f4e" frameborder="0" allowfullscreen></iframe>
<br>
Naturalmente questa guida può essere utilizzata anche per altri tipi di PDI. Inoltre se dei dati sono mancanti sarà possibile inserirli da app come StreetComplete.
</p>

<p>Per una guida più approfondità <a target="_blank" href="https://learnosm.org/it/beginner/start-osm/">clicca qui</a>.</p>

<hr>

<h2 id="commerciale">Come aggiungere una attività commerciale su OpenStreetMap (se non si ha il tempo)</h2>

<p>Richiedi l'aggiunta di una attività commerciale alla comunità Italiana di OpenStreetMap fornendo le informazioni necessarie con un semplice modulo che puoi compilare sul <a href="https://su.openstreetmap.it/">sito dedicato</a>.</p>

<hr>

<h2 id="mobile">Come aggiungere punti di interesse da mobile</h2>

<p>Questa attività richiede molti passaggi perchè l'applicazione ha una interfaccia più compatta e nasconde varie cose. Il comportamento è simile a quello da interfaccia web, aprire una mappa e selezionare un punto per poi aggiungere il PDI. La guida completa con le schermate e i vari passaggi si trova sul sito <a href="https://learnosm.org/it/mobile-mapping/osmand2/" target="_blank">learnosm.org</a> (in italiano).</p>

<hr>

<h2 id="guida">Come aggiornare il wiki di OpenStreetMap</h2>
<p>Diversamente da Wikipedia dove le traduzioni sono su un &ldquo;contenitore&rdquo; differente, il
    wiki di OpenStreetMap è stato impostato in modo che le traduzioni siano concentrate in un unico
    sistema e collegate tra loro. Per questo è scritto come si fa:</p>
<ul>
    <li>registrarsi come nuovo utente</li>
    <li>confermare la registrazione tramite email</li>
    <li>copiare il codice sorgente della pagina da tradurre</li>
    <li>incollarlo e modificarlo nella stessa pagina con prefisso <strong>IT:</strong></li>
</ul>
<p>Partendo ad esempio da qui: <a href="https://wiki.openstreetmap.org/wiki/Tag:office%3Dgraphic_design" target="_blank">https://wiki.openstreetmap.org/wiki/Tag:office%3Dgraphic_design</a>
</p>
<ol>
    <li>In alto a destra cliccare su <strong>Modifica sorgente</strong>:</li>
</ol>
<p><img src="images/todo/openstreetmap/modifica-sorgente.jpg" alt="Modifica sorgente"></p>
<ol start="2">
    <li>Copiare tutto il sorgente:</li>
</ol>
<p><img src="images/todo/openstreetmap/copia-sorgente.jpg" alt="Copia sorgente"></p>
<ol start=3>
    <li>Creare la nuova pagina aggiungendo al link la stringa <strong>IT:</strong> prima del titolo,
        quindi l&rsquo;indirizzo deve cambiare da:</li>
</ol>
<pre>https://wiki.openstreetmap.org/wiki/Tag:office%3Dgraphic_design</pre>
<p>a</p>
<pre>https://wiki.openstreetmap.org/wiki/IT:Tag:office%3Dgraphic_design</pre>

<p>Se la pagina italiana già esiste si aprirà per la modifica, altrimenti verrà chiesto di creare la
    nuova pagina:
    <img src="images/todo/openstreetmap/crea-pagina.jpg" alt="Crea pagina">
</p>
<ol start="4">
    <li>Incolla ora il testo copiato dalla versione inglese, traducilo, visualizza l&rsquo;anteprima
        per essere sicuro che qualche traduzione non sia errata e poi salva la pagina per
        pubblicarla:</li>
</ol>
<p><img src="images/todo/openstreetmap/traduci.jpg" alt="Traduci"></p>

<p><b>Se vuoi migliorare questa pagina puoi aprire una <a href="https://gitlab.com/ItalianLinuxSociety/linux.it/" target="_blank">merge request qui</a>.</b></p>
