---
layout: page
title: Installare Linux
description: Dritte e consigli per installare Linux
---

<p>Installare Linux è più facile di quanto generalmente non si pensi, ma è bene conoscere alcuni termini ed alcune nozioni per ottenere il miglior risultato possibile ed essere in grado di comprendere la documentazione che si trova su Internet.</p>
<p>Per iniziare:</p>

<ul>
    <li>è necessario scegliere la propria distribuzione; se ancora non hai deciso, prova a dare una occhiata al <a href="/distro">Distro Picker</a>. I passaggi descritti in questa pagina sono pressoché gli stessi per tutte le distribuzioni, può forse variare nell'ordine di esecuzione tra un caso e l'altro ma la sostanza non cambia</li>
    <li>una volta scaricato il DVD installabile dal relativo sito della distribuzione, lo si può masterizzare o <a href="/usb">riversarlo su una chiavetta USB</a> (per comodità, perché è più veloce, o perché il computer su cui si vuole installare non ha un lettore ottico)</li>
    <li>è possibile installare più sistemi operativi sullo stesso computer (ad esempio: Windows e Linux, o diverse distribuzioni Linux), e procedere con una nuova installazione preservando quelle esistenti. In tale configurazione, chiamata <b>"dual-boot"</b>, all'avvio del PC sarà possibile selezionare il sistema da far avviare tra quelli presenti</li>
    <li>è raccomandato effettuare un <b>backup dei dati</b> (documenti, foto, video...) ospitati sul computer prima di proseguire: l'installazione di un nuovo sistema operativo comporta la cancellazione di tutto ciò che si trova sul disco rigido, e anche se si procede con una installazione in dual-boot (preservando dunque l'ambiente ed i dati esistenti) può comunque capitare di perdere qualcosa se non si presta attenzione. Assicurati dunque di copiare tutto quello che non vuoi assolutamente perdere su un disco esterno, su un'altra chiavetta USB, su un altro computer o comunque altrove!</li>
    <li>se incontri difficoltà, contatta <a href="http://lugmap.linux.it/">il Linux Users Group più vicino a casa</a> o consulta la documentazione specifica per la distribuzione che hai scelto</li>
</ul>

<hr>

<div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Inserendo il DVD o la chiavetta USB bisogna far partire il computer (in gergo: "bootare", da "to boot", che in inglese sta appunto per "avviare") da tale supporto. A seconda di come è configurato il BIOS (il micro-programma contenuto nel computer che fa partire tutto il resto) essi potrebbero essere rilevati ed avviati automaticamente oppure potrebbe essere necessario premere un qualche tasto sulla tastiera durante la fase di accensione della macchina. Tale tasto varia da modello a modello, comunemente è ESC o F12, spesso viene mostrato nella rapida schermata di avvio vicino alla dicitura "Boot Options" o "Boot Menu".</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/avvio.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Se parte il dispositivo giusto si dovrebbe vedere una schermata di avvio, e aspettando pochi secondi il sistema parte in <b>modalità "live"</b>: l'intero ambiente è utilizzabile, ma le modifiche fatte alle configurazioni o ai files restano in RAM (la memoria volatile del computer) e vengono perse quando il computer viene spento o riavviato. Questa modalità è particolarmente comoda per provare empiricamente Linux, dare una occhiata alle applicazioni installate di default e verificare che tutte le componenti hardware funzionino.</p>
            <p>Terminato il giro di perlustrazione, si può cliccare sull'icona "Installa" presente sul desktop.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/installa.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>La prima cosa che viene chiesta è la lingua con la quale proseguire l'installazione, e che sarà pre-configurata come lingua sul sistema installato. Ovviamente nell'elenco <a href="/italiano">si trova anche l'italiano</a>! Selezionando una lingua diversa dall'inglese verranno successivamente scaricati da Internet i files delle traduzioni, che per ovvi motivi di spazio disponibile non si trovano tutte sul DVD di installazione.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/lingua.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Viene verificato che sul disco rigido ci sia abbastanza spazio per ospitare la nuova installazione, e che il computer sia connesso ad Internet onde poter scaricare i suddetti files delle traduzioni e gli ultimi aggiornamenti disponibili.</p>
            <p>Indicativamente una installazione desktop di Linux occupa circa <b>5 gigabytes</b>, ma è consigliato (ed in alcuni casi obbligatorio) averne almeno 10 liberi.</p>
            <p>In basso a destra, vicino alla data e all'icona del volume audio, si trova l'icona per la connessione: se il computer viene attaccato ad un cavo ethernet a sua volta connesso il sistema provvederà ad auto-configurarsi, altrimenti - se si vuole ad esempio usare una rete wireless - bisogna cliccare su di essa, selezionare la rete desiderata ed immettere l'eventuale password.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/requisiti.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Il passaggio più delicato dell'operazione è quello del <b>"partizionamento"</b>, ovvero la divisione dello spazio sul disco rigido in diverse aree che ospiteranno diversi contenuto o diversi sistemi operativi. Alcune distribuzioni offrono in questa fase dell'installazione delle opzioni per partizionare il disco in modo automatico, cancellando tutti i dati esistenti o installando preservando il sistema esistente; altre prevedono il partizionamento automatico solo per una installazione completa, ed occorre procedere manualmente alla suddivisione del disco se si vogliono conservare delle parti esistenti.</p>
            <p>Naturalmente è consigliabile lasciar fare automaticamente al sistema laddove possibile, in caso di dubbio è bene documentarsi più approfonditamente.</p>
            <p>Una volta confermato il nuovo partizionamento del disco, non sarà più possibile tornare indietro!</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/partizioni.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Mentre l'installer inizia a copiare sul disco rigido i files necessari per l'installazione, vengono chieste alcune informazioni addizionali come il proprio fuso orario e la configurazione della propria tastiera.</p>
            <p>Se all'inizio è stata scelta la lingua italiana è presumibile che a questo punto siano già stati selezionati il fuso orario di Roma e la tastiera italiana (che diversamente ad altri layout internazionali ha le lettere accentate).</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/locale.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Vengono a questo punto chiesti uno username ed una password del primo utente che verrà inizializzato, il quale spesso è quello ad avere permessi di amministrazione completi. Terminata l'installazione si potranno successivamente aggiungere altri utenti, ciascuno con la propria area riservata per i dati e con permessi diversi sul resto del sistema.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/utente.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Non resta che aspettare ancora qualche minuto per il trasferimento completo dei file, lo scaricamento delle traduzioni e degli aggiornamenti e la finalizzazione dell'installazione. Il processo completo dall'inizio ella fine raramente dura più di un'ora, più spesso <b>mezz'ora</b>, molto dipende ovviamente dalla velocità della connessione ad Internet.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/finalizza.png">
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Completata l'installazione il sistema proporrà di riavviare il computer per accedere al nuovo ambiente appena predisposto: non resta che far ripartire la macchina, togliere il DVD o la chiavetta USB usata all'inizio, e godersi il proprio nuovo Linux.</p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="/images/installare/reboot.png">
        </div>
    </div>
</div>

<p class="clearfix">&nbsp;</p>
<a class="cta-button" href="/faq">Dubbi? Consulta l'elenco di Domande Frequenti!</a>
