---
layout: page
title: Quando cucino...
image: /images/locandine/ils-quando-cucino.png
---

<figure class="float-right text-center">
    <figcaption><a href="/zip/ils-quando-cucino.zip">Scarica il pacchetto Zip che include la versione SVG, KRA, PDF e PNG</a></figcaption>
    <img src="/images/locandine/ils-quando-cucino.png" alt="Locandina">
</figure>

<p>Una ricetta la si può provare, studiare, condividere e modificare, esattamente come il software libero. Non tutto il software esistente o che si usa è libero, e in quei casi non si puó utilizzare un programma, un'app o un servizio per qualsiasi scopo, non si puó studiare come funziona, non si puó condividere (talvolta é illegale) e non si puó, di conseguenza, modificarlo per adattarlo alle proprie esigenze. Noi sosteniamo il <a href="https://www.linux.it/softwarelibero">software libero </a>.</p>


<p>Questa locandina fa parte del progetto <a href="https://forum.linux.it/t/produzione-materiale-social-grafica-da-parte-di-ils/946/21">Produzione materiale social/grafica da parte di ILS"</a> nato dopo il Merge-IT 2023.</p>

<p>Si tratta del primo prodotto di questa discussione (e commissionato a pagamento, con revisione del direttivo ILS) sul <a href="https://www.linux.it/usa-analizza-modifica-condividi/">tema della 4 libertà (in modo semplificato)</a> pensato per raggiungere un pubblico giovane nuovo, il materiale é licenziato come <a href="https://creativecommons.org/public-domain/cc0/">CC0</a> e l'autore é <a href="https://mastodon.social/@zughy_boi">Marco "Zughy" Amato</a> (il disegno centrale include la firma).</p>

<p>La locandina è stata pensata (oltre che libera per qualunque utilizzo) per poter essere smontata e utilizzata anche in altri contesti come i social network dividendo per vignette oppure c'é lo spazio per inserire i riferimenti del proprio gruppo locale.</p>

<p>La locandina include un easter egg nel portatile con il logo di <a href="https://www.ils.org/">Italian Linux Society</a> ma puó utilizzarla chiunque (anche al di fuori della associazione) per promuovere attivitá a tema Open Source (attinenti con le finalitá associative).</p>

<a href="/stickers" class="cta-button">Chiedici di inviarti, gratuitamente, gli adesivi col logo del software libero!</a>

<p>Per saperne di più sul software libero ed in particolare su Linux, consulta l'elenco di <a href="/faq">Domande Frequenti</a>.</p>
