{% for association in theme_config.get('associations') %}
    <div class="col-3">
        <a target="_blank" rel="nofollow" href="{{ association.url }}"><img alt="{{ association.label }}" src="{{ association.image }}" border="0" class="img-fluid" loading="lazy"></a>
    </div>
{% endfor %}
