<script>

    var associationIcon = L.icon({
    	iconUrl: '/images/associazione.png',
    	iconSize:     [20, 20],
    	popupAnchor:  [0, -10]
    });

    var sectionIcon = L.icon({
    	iconUrl: '/images/sezione.png',
    	iconSize:     [20, 20],
    	popupAnchor:  [0, -10]
    });

    var associations = [
        {% for association in theme_config.get('associations') %}
        	{
        		label: '{{ association.label | escape }}',
        		coords: [{{ association.coords }}],
        		url: '{{ association.url }}',
        		image: '{{ association.image }}',
        	},
        {% endfor %}
    ];

    var sections = [
        {% for localsection in theme_config.get('localsections') %}
            {
                label: '{{ localsection.label | escape }}',
                coords: [{{ localsection.coords }}],
                city: '{{ localsection.city }}',
            },
        {% endfor %}
    ];

    var mymap = L.map('mapid').setView([42.155, 12.810], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    	maxZoom: 13,
    	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

</script>
